@import url("https://use.typekit.net/uqd7ali.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
:root{
    --primary-color: #BADC58;
    --secondary-color: #1D164D;
    --tertiary-color: #9E9BAF;
    --quaternary-color: #BCBCBC;
    --default-color: #fff;
    --border-button: #2D3561;

    --montserrat-ff: 'Montserrat', sans-serif;
    --muli-ff:'muli', sans-serif;

    /* Font-sizes */
        --step--3: clamp(0.60rem, 0.60rem + 0.12vw, 0.77rem);
        --step--2: clamp(0.69rem, 0.66rem + 0.15vw, 0.84rem);
        --step--1: clamp(0.83rem, 0.77rem + 0.29vw, 1.13rem);
        --step-0: clamp(1.00rem, 0.90rem + 0.50vw, 1.50rem);
        --step-1: clamp(1.20rem, 1.04rem + 0.80vw, 2.00rem);
        --step-2: clamp(1.44rem, 1.19rem + 1.23vw, 2.67rem);
        --step-3: clamp(1.73rem, 1.36rem + 1.83vw, 3.55rem);
        --step-4: clamp(2.07rem, 1.54rem + 2.66vw, 4.74rem);
        --step-5: clamp(2.49rem, 1.72rem + 3.83vw, 6.31rem);
}

body{
    font-size: var(--step-0);
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
}
ul{
    list-style: none;
}
a{
text-decoration: none;
}

h1,
h2,
h3,
h4{
    font-family: var(--montserrat-ff);
}

h4{
    color: var(--secondary-color);
}
p,a{
    font-family: var(--muli-ff);
}

button{
    font-family: var(--muli-ff);
}

.btn{
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
}

.input{
        height: 6vh;
        min-height: 3rem;
        max-height: 4rem;
        border-radius: .3rem;
        outline: none;
        border: 1px solid rgb(184, 183, 183);
        padding: 0 .6rem;
        font-size: var(--step--1);
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }

  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #f0f0f0;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }



  .hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: var(--primary-color);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: .5rem;
  }

  .hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a5c73e;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: .5rem;
  }
  .hvr-rectangle-out:hover, .hvr-rectangle-out:focus{
    color: white;
  }
  .hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before{
    -webkit-transform: scale(1);
    transform: scale(1);
  }


 
    